# org: wamelen
# app: apfront
# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: apfront # NOTE: update this with your service name

plugins:
  - serverless-finch
  - serverless-single-page-app-plugin
params:
  dev:
    profile: AbstractPlayDev
    url: play.dev.abstractplay.com
  prod:
    profile: AbstractPlayProd
    url: play.abstractplay.com

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  stage: ${opt:stage, 'dev'}
  name: aws
  runtime: nodejs14.x
  region: us-east-1
  profile: ${param:profile}

custom:
  rootName: abstract-play-${self:provider.stage}
  stage: ${self:provider.stage}
  region: ${opt:region, self:provider.region}
  # stageConfig: ${file(../apsecrets.yml):domains.front.${self:custom.stage}}
  ## For CloudFront
  s3Bucket: ${self:custom.rootName}
  ## For S3 upload
  client:
    bucketName: ${self:custom.rootName}
    distributionFolder: build

    objectHeaders:
      # Cache-bustable assets (fingerprinted)
      "static/**/*":
        - name: Cache-Control
          value: "public, max-age=31536000, immutable"

      # HTML should never be cached
      "index.html":
        - name: Cache-Control
          value: "no-cache, no-store, must-revalidate"

      "error.html":
        - name: Cache-Control
          value: "no-cache, no-store, must-revalidate"

      # Optional: catch-all fallback
      ALL_OBJECTS:
        - name: Cache-Control
          value: "public, max-age=3600"

  # s3LocalPath: C:\Projects\AbstractPlay\front\build\
  s3LocalPath: ./build/
