/*
:root {
  --main-bg-color: #CAFAFE;
}

:root {
  --main-fg-color: #FC4445;
}

body {
  background-color: var(--main-bg-color);
}
*/

.column {
  float: left;
}

/* Left and right column */
.left {
  width: 30%;
}

/* Middle column */
.middle {
  width: 50%;
}

.right {
  width: 20%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

.container {
  max-width: 95%;
}

#logo {
  height: 10vh;
  padding-top: 2vh;
}

#login-button, #logout-button {
  position: absolute;
  top: 30%;
  left: 50%;
}

h1 {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.centered {
  text-align:center;
}

.named-top-border {
  border-top: 2px solid var(--main-fg-color);
  padding: 20px;
  margin: 10px;
}

.metaGames {
  display: flex;
  flex-wrap: wrap;
}

.metaGame {
  width: 500px;
  flex-grow: 1;
  margin: 0.5em 1.5em;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.metaGameTitle {
  width: 100%;
  position: relative;
  height: 2em;
}

.metaGameTitleLine {
  background-color: var(--main-fg-color);
  height: 2px;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.metaGameTitleText {
  background-color: var(--main-bg-color);
  font-size: large;
  font-weight: bold;
  padding: 0em 0.5em;
  margin: 0em 1.5em;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.metaGameDescription {
  width: 75%;
}

.metaDescriptionMarkdown {
  font-size: small;
}

.metaDescriptionMarkdown h1 {
  font-size: 1.5rem;
}

.metaGameImage {
  width: 25%;
  padding: 2em;
}

.gameMoves {
  height:300px;
  overflow:auto;
}

.columnTitleContainer {
  display: flex;
  justify-content: center;
}

.columnTitle {
  display: inline-block;
  text-align: center;
  background-color: var(--main-fg-color);
  padding: 0.2em 0.5em 0.2em 0.5em;
  /* border: 3px solid green; */
  border-radius: 0.5rem;
}

.board {
  display: flex;
  background-color: #fff;
  padding: 2em;
}

.stackboard {
  flex: 8;
}
.stack {
  flex: 1;
}

.toMove {
  font-size: 1.5rem;
  /* display: flex;
  align-items: center; */
}

.toMoveIndicator {
  display: inline;
  padding-right: 0.5rem;
}

.toMoveImage {
  height: 1.15rem;
  width: 1.15rem
}

.playerImage {
  height: 0.8rem;
  width: 0.8rem
}

.mover, .playerIndicator {
  vertical-align: middle;
}

.historyState {
  background-color: greenyellow;
  padding: 1rem;
}

.currentState {
  background-color: ivory;
  padding: 1rem;
}

.exploreState {
  background-color: lavenderblush;
  padding: 1rem;
}

.uiState {
  padding: 1rem;
}

.movesTable {
  margin-left: auto;
  margin-right: auto;
}

.gameMoveMiddleCol {
  padding-left: 2rem;
}

.gameMove {
  display: inline;
}

.gameMoveFocus {
  background-color: #bbb;
}

.gameMoveUnknownOutcome {
  color: #888;
}

.gameMoveLoss {
  color: #f00a28;
}

.gameMoveWin {
  color:#7df00a;
}

.moveError {
  color: red;
}

.error {
  color: red;
}

.moveMessage {
  color: blue;
}

.challenge {
  display: block;
}

.pickOneOfVariants {
  padding-left: 1rem;
}

.pickOneOfVariant {
  padding-left: 1rem;
}

.pickAnyOfVariants {
  padding-left: 1rem;
}

.pickAnyOfVariant {
  padding-left: 1rem;
}

.pickOneOfColors, .pickOneOfColorsLevel, .pickAnnotation, .chooseAnnotationLevel {
  padding-left: 1rem;
}

.radios {
  display: block;
  padding-left: 1rem;
}
