/* Colour definitions */
:root {
  --main-bg-color: white;
  --main-fg-color: #1a3e6f;
  --main-fg-color-lighter: #c3d6f1;
  --bg-color2: #999999;
  --secondary-color-1: #ff6633;
  --secondary-color-1-lighter: #ff8962;
  --secondary-color-1-bg: #ffe8e0;
  --secondary-color-2: #99cccc;
  --secondary-color-2-lighter: #e6f2f2;
  --secondary-color-3: #008ca8;
  --secondary-color-3-lighter: #009fbf;
  --secondary-color-3-bg: #eefcff;
}

/* Overall font definitions */
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Josefin+Sans&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Source+Sans+Pro&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Quattrocento&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&family=Proza+Libre&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Fauna+One&display=swap'); */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cardo", serif;
}

body,
button,
input,
select,
textarea {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Link handling */
a {
  color: inherit;
}

.content * a {
  text-decoration: underline;
}

/* Add a little bit of space after checkboxes and radio buttons */
input[type="checkbox"],
input[type="radio"] {
  margin-right: 0.25em;
}

/* Only used to colour buttons until I can figure out how to override Bulma colours */
.apButton {
  background: linear-gradient(
    180deg,
    var(--secondary-color-3-lighter) 0%,
    var(--secondary-color-3) 100%
  );
  color: white;
}

.apButton:hover {
  background: var(--main-fg-color);
  color: white;
}

.inlineButton {
  margin-left: 1em;
}

/* Outlines the chosen game on the Games page */
.theMetaGame {
  border: 1px solid var(--main-fg-color);
}

.lastMove {
  border: 1px solid black;
}

/* Used to create headings with lines on either side */
.lined {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: var(--main-fg-color);
  display: block;
  position: relative;
  text-align: left;
  z-index: 1;
}

.lined:before {
  border-top: 2px solid var(--main-fg-color);
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  z-index: -1;
}

.lined span {
  background: var(--main-bg-color);
  padding: 0em 0.5em;
  margin: 0em 1.5em;
}

/* Only used on the dashboard */
.apBullet {
  color: var(--secondary-color-1);
  font-size: 10px;
  position: relative;
  bottom: 2px;
  padding-right: 0.7em;
}

/* Adds colours to the list tables that appear on certain pages */
#TableListContainer > table {
  border-collapse: collapse;
  margin: auto;
  width: auto;
}

#TableListContainer > table th {
  border: 1px solid var(--main-fg-color-lighter);
  text-align: center;
  padding: 8px;
  background-color: var(--secondary-color-1-bg);
}

#TableListContainer > table td {
  border: 1px solid var(--main-fg-color-lighter);
  text-align: center;
  padding: 8px;
}

#TableListContainer > table tr:nth-child(even) {
  background-color: var(--secondary-color-3-bg);
}

/* Leaving the board and stack styles here for now until I better understand it */
.board {
  display: flex;
  background-color: #fff;
  align-items: flex-start;
  padding: 1em;
}

.unZoomedBoard > svg {
  max-height: 600px;
}

.boardButtons {
  overflow: hidden;
}

.align-right {
  float: right;
}

.stackboard {
  flex: 8;
}

.stack {
  padding-top: 2em;
  padding-right: 1.5em;
  flex: 1;
}

/* Leaving this also for now */
.player {
  display: flex;
  align-items: center;
  padding-bottom: 0.5em;
}

th .player {
  justify-content: center;
}

/* For some reason, .playerImage and .toMoveImage are necessary.
 * Putting the height and width in the image does not appear to be working correctly.
 */
.playerImage {
  height: 0.8rem;
  width: 0.8rem;
}

.toMoveImage {
  height: 1.15rem;
  width: 1.15rem;
}

/* Colours the "board state" indicator */
.historyState {
  color: var(--secondary-color-2);
}

.currentState {
  color: black;
}

.exploreState {
  color: var(--secondary-color-3);
}

.historyState,
.currentState,
.exploreState {
  font-size: larger;
  font-weight: bolder;
  padding-bottom: 1em;
}

/* Stuff for the move history tree. Leaving most of this for now. */
.move {
  max-width: 15em;
}

.gameMove {
  display: inline;
}

.gameMoveNums {
  font-size: x-small;
  vertical-align: bottom !important;
}

.gameMoveFocus {
  background-color: #bbb;
}

.variation-list {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
}

.variation-item-numbering {
  font-size: x-small;
  align-self: end;
}

.variation-item-content {
  justify-self: start;
}

/* Winning/losing indicators */
.winnerImage {
  padding-left: 0.2rem;
  padding-bottom: 0.1rem;
  height: 0.6rem;
  width: 0.7rem;
}

.winnerImage2 {
  padding-left: 0.2rem;
  height: 0.6rem;
  width: 0.8rem;
}

.winnerButtonImage {
  margin-top: 0.4rem;
  margin-left: 0.7rem;
  height: 1rem;
  width: 1rem;
}

.resetIcon {
  font-size: 1.2rem;
  margin-left: 0.7rem;
  height: 1rem;
  width: 1rem;
}

.winningColorButton {
  display: inline-block;
}

.gameMoveWin {
  color: #7df00a;
}

.error {
  color: red;
}

.fabtn {
  background-color: white;
  border: none;
  color: var(--bg-color2);
  cursor: pointer;
}

/* Darker background on mouse-over */
.fabtn:hover {
  color: var(--main-fg-color);
}

.fa-thumbs-up:hover,
.fa-thumbs-down:hover {
  color: var(--main-fg-color);
}

/* Custom tooltips */
.tooltipped {
  position: relative;
}

.tooltipped .tooltiptext {
  visibility: hidden;
  bottom: 110%;
  left: 50%;
  white-space: nowrap;
  background-color: var(--bg-color2);
  color: black;
  border-radius: 6px;
  padding: 5px 0.5em;
  position: absolute;
  z-index: 1;
}

.tooltipped:disabled {
  z-index: 100;
}

.tooltipped:hover .tooltiptext {
  visibility: visible;
}

.input-icon {
  display: flex;
  align-items: center;
}

/* Leaving the stuff for user settings until I'm prepared to expand it */
.userSettings {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.userSettingsBtn {
  font-size: 120%;
}
.userSettingsLabelDiv {
  display: block;
  width: 30%;
  text-align: right;
}

.userSettingsInputDiv {
  display: block;
  width: 50%;
}

.userSettingsInfo {
  font-size: 75%;
}

.userSettingsButtonDiv {
  display: block;
  width: 20%;
}

/* Makes system chats less prominent */
.chatSystem {
  opacity: 0.5;
}

/* Used to force hyperlinks to wrap on the Games list page */
.contained {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Overrides Bulma's default 1.5rem */
.subtitle:not(:last-child) {
  margin-bottom: 1rem;
}

/* Colours the buttons in the move tree button bar */
#MoveTreeBtnBar > button {
  background-color: var(--main-fg-color);
  color: white;
  /* Have to size them because otherwise the invisible tooltip text leads to mixed sizes */
  width: 1.5em;
}

/* Can be nested to create ever-more indented containers.
 * Used for the dashboard.
 */
.indentedContainer {
  padding-left: 2em;
  padding-bottom: 1em;
}

/* Only the dashboard uses special bullet glyphs */
#dashboard * ul {
  list-style: none;
  margin-left: 0;
}

/* Raises modal screens so they overlay the move exploration buttons */
/* Tooltips are z-index 100 to overlay other elements, so modal has to be higher */
.modal {
  z-index: 1000;
}

/* For "new chat" indicator */
.chevron-down {
  position: absolute;
  top: 100vh;
  transform: translateY(-100%);
  width: 100%;
  background-color: var(--secondary-color-2-lighter);
  z-index: 500;
}
